<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../assets/css/Login-Form-Clean.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <% include nav %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include nav-profile%>

                <div class="container-fluid">
                    <div class="d-flex flex-column" id="content-wrapper-1">
                        <div class="row">
                            <div class="col">
                                <h1 class="fs-2">Recieve Product</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <header></header>
                            </div>
                        </div>

                        <div class="row">
                            
                            <table class="table my-0" id="dtData">
                                <thead>
                                    <tr class="table-primary">
                                   
                                            <th style="font-size: 14px;">No</th>
                                            <th style="font-size: 14px;">วันที่ (ป/ด/ว)</th>
                                            <th style="text-align: center;font-size: 14px;">สถานะ</th> 
                                            <th style="text-align: center;font-size: 14px;">รายละเอียด</th> 
                                    </tr>
                                </thead>
                                <tbody>

                              <%
                                    if(obj.length!=0){
                                    var i=1;
                                    obj.forEach(function(data){
                              %>
                                  <tr>
                                    <td><strong><%=data.StockListNumber%></td>
                                    <td style="font-size: 14px;"><%=data.DateCreateStockList.toISOString().split('T')[0] %></td>
                                    <td style="text-align: center; font-size: 14px;"><%=data.ReceiveStatus %></td>

                                         <% if(data.ReceiveStatus === 'recived'){ %>
                                            <td class="text-center" style="font-size: 14px;"><button disabled>คลิก</button></td>
                                          <% }else{ %>
                                            <td class="text-center" style="font-size: 14px;"><button onclick="showDetail('<%=data.JsonData%>','<%=data.id%>')">คลิก</button><input type="text" name="recive-detail" id="recive-detail" value="<%=data.JsonData%>" hidden ></td>
                                          <% } %>
                                    </tr>
                                    
                                  <%  i++; }) %>
                                  <% } else{ %>
                                      <tr>
                                          <td colspan="3"><div align="center">No Data Found</div></td>
                                      </tr>
                                  <% } %>
                                </tbody>
                                <tfoot>
                                    <tr class="table-primary">
                         
                                        <td style="font-size: 14px;" ><strong>No</strong></td>
                                        <td style="text-align: center;font-size: 14px;"><strong>วันที่ (ป/ด/ว)</strong></td>
                                        <td style="text-align: center;font-size: 14px;"><strong>สถานะ</strong></td>
                                        <td style="text-align: center;font-size: 14px;"><strong>รายละเอียด</strong></td>
                                    </tr>
                                </tfoot>
                              </table>

                        </div>

                     <br> <br>
                     
                     <div id="set-reciveid">*</div>
                        <hr >

                    <table id="recive-detail-table" style="border: 1;">
                        <thead style="background-color: rgb(223, 220, 198);">
                            <tr>
                                <th>รหัส</th>
                                <th>ชื่อสินค้า</th>
                                <th>จำนวน</th> 
                                
                            </tr>
                        </thead>
                        <tbody>

                            <td style="text-align: center;" colspan="4">-----</td>

                        </tbody>
                        
                    </table>
                    <br>
                    <!-- <button onclick="confirmRecive()" disabled=true id="confirmR">ยืนยันรับสินค้า</button> -->
                    <button onclick="confirmRecive()" disabled=true id="confirmR">ยืนยันรับสินค้า</button>
                    
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <footer class="text-center bg-white d-inline-flex mb-auto sticky-footer" style="margin: 1px;">
        <div class="container text-center my-auto">
            <div class="text-center my-auto copyright"><span class="text-center">Copyright © Brand 2022</span></div>
        </div>
    </footer>

    <div id="tests"></div>
    <script src="../../assets/js/jquery.min.js"></script> 
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="../../assets/js/DataTable---Fully-BSS-Editable.js"></script>
    <script src="../../assets/js/theme.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
      $(document).ready(function() {
        $('#dtData').DataTable();
      } );

      $(document).ready(function() {
        $('#dataTable').DataTable();
      } );

      function showDetail(stocklist_data, stocklit_id){
    //  alert(stocklist_data)
        $(document).ready(function() {
            $('#dtData-detail').DataTable();
        });

        $(document).ready(function() {
            $('#dataTable').DataTable();
        });

        var table = document.getElementById("recive-detail-table").getElementsByTagName('tbody')[0];
        
        $('#set-reciveid').text(stocklit_id);

        $("#recive-detail-table").find("tr:not(:first)").remove();

        if (JSON.parse(stocklist_data).length > 0) {
            for (let index = 0; index < JSON.parse(stocklist_data).length; index++) {
                const element = JSON.parse(stocklist_data)[index];
                var row = table.insertRow(index);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);        

                cell1.innerHTML = element.product_code;
                cell2.innerHTML = element.product_code; 
                cell3.innerHTML = "<div id='qt-"+element.product_code+"'>"+element.QT+"</div>";
                cell4.innerHTML = "<div id='checkboxList'><div><input type='checkbox' value='"+ element.product_code +"' class='myChk' id='ck-"+ element.product_code +"' onclick='' checked hidden ></div></div>";
                       
            }
        }  

        var rowCount = $("#recive-detail-table > tbody").children().length-1;
        if (rowCount > 0) {
            document.getElementById("confirmR").disabled = false;
        }else{ 
            document.getElementById("confirmR").disabled = true;
        }

                    
      }

      function confirmRecive(){
        if (confirm('ยืนยันรับ Stock ?')) {
            var arrAn = [];  
            var m = $('.myChk'); 
            var arrLen = $('.myChk').length; 
            
            for ( var i= 0; i < arrLen ; i++){  
                var  w = m[i];  
                                
                if (w.checked){  
                    arrAn.push( {
                    "product_code": w.value ,
                    "QT": $("#qt-" + w.value).text(),
                    "UM": "CR",
                    "RecvStatus": true,
                    "RecvRemark": ""
                    } );  
                    // alert($('#' + w.value).text() ) ;
                    // console.log(w.value ); 
                }
            }   

            var revcId = $('#set-reciveid').text();
            var dataJ = JSON.stringify(arrAn);
            let cksString = '{"Header":{"ReciveId":'+revcId+', "ShopCode":"<%= usercode%>","data":'+dataJ+'}}'
            let xhr = new XMLHttpRequest();
                    xhr.open("POST", "/users/recive");
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onload = () => console.log(xhr.responseText);
                    xhr.send(cksString);
            
            
            window.location.href = "/users/recive"

        }

        
            
      }

    //   function arrayChk(){ 
       
    //     var arrAn = [];  
    //     var m = $('.myChk'); 
    //     var arrLen = $('.myChk').length; 
        
    //     for ( var i= 0; i < arrLen ; i++){  
    //         var  w = m[i];  
                             
    //         if (w.checked){  
    //             arrAn.push( {
    //             "product_code": w.value ,
    //             "QT": $("#qt-" + w.value).text(),
    //             "UM": "CR",
    //             "RecvStatus": true,
    //             "RecvRemark": ""
    //             } );  
    //             // alert($('#' + w.value).text() ) ;
    //             // console.log(w.value ); 
    //         }
    //     }   

    //     var revcId = $('#set-reciveid').text();
    //     var dataJ = JSON.stringify(arrAn);
    //     let cksString = '{"Header":{"ReciveId":'+revcId+', "ShopCode":"<%= usercode%>","data":'+dataJ+'}}'
    //      //   var cksStringJ = JSON.stringify(cksString)
    //     //$('#set-reciveid').text(cksString);
    //     //alert(cksString);

    //     // var jj = '{"Header": { "ReciveId": 2,"data": [{"product_code": "39835","QT": 1,}]}}'
    //     // alert(JSON.stringify(jj))

    //     let xhr = new XMLHttpRequest();
    //             xhr.open("POST", "/users/recive");
    //             xhr.setRequestHeader("Accept", "application/json");
    //             xhr.setRequestHeader("Content-Type", "application/json");
    //             xhr.onload = () => console.log(xhr.responseText);
    //             xhr.send(cksString);
            


    //         // var jsonfile = JSON.stringify(cksString);

    //         // alert(jsonfile);
      
    //    // $("#objdata").val(myJsonString);
    //    // $("#formobj").submit();


    //     // console.log( 'result' + myJsonString);
    //     // alert(myJsonString);
    //     // return myJsonString;
    //   }


     </script>


</body>

</html>