<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../assets/css/Login-Form-Clean.css">
</head>

<body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
        <% include nav %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <% include nav-header %>
                </nav>
                <div class="container-fluid">
                    <div class="d-flex flex-column" id="content-wrapper-1">
                        <div id="content-2">
                            <div class="container-fluid" style="padding-bottom: 30px;">
                                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    <h3 class="text-dark mb-0">ขายสินค้า</h3>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-auto col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                            <p class="fs-4 text-primary m-0 fw-bold">สินค้า</p>
                                        </div>
                                        <div class="col-auto col-sm-8 col-md-6 col-lg-8 col-xl-8 col-xxl-8 text-end"><button class="btn btn-success link-light" type="submit" style="margin-right: 10px;">Check Out&nbsp;&nbsp;<i class="fas fa-check"></i></button><button class="btn btn-danger link-light" type="submit">Clear&nbsp;&nbsp;<i class="fas fa-times"></i></button></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                
                                     
                                    </div>


                                    <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                        <table class="table my-0" id="dataTable">
                                            <thead>
                                                <tr class="table-primary">
                                                    
                                                    <th style="font-size: 14px;">รูป</th>
                                                    <th style="font-size: 14px;">ชื่อสินค้า</th>
                                                    <th class="text-center" style="font-size: 14px;">ราคา</th>
                                                    <th class="text-center" style="font-size: 14px;">จำนวน</th>
                                                </tr>
                                            </thead>
                                            <tbody>
<!-- <p>data: <%= JSON.stringify(obj);%></script>  </p> -->
                                          <%
                                                

                                                if(obj.length!=0){
                                                var i=1;
                                                obj.forEach(function(data){
                                          %>
                                              <tr> 
                                                <td><img class="rounded-circle me-2" width="50" height="50" src="../../assets/img/products/<%= data.ProductCode %>.png"></td>
                                                <td style="font-size: 14px;"><%=data.ProductName%>: <%=data.ProductCode%></td>
                                                <td class="text-center" style="font-size: 14px;"><%=data.ProductPrice%></td>
                                                <td class="text-center"><button style="font-size: 14px;" class="btn btn-primary btn-sm" type="submit" style="margin-right: 10px;margin-bottom: 5px;margin-left: 5px;">Add Cart<i class="fa fa-cart-plus"></i></button></td>
                                              </tr>
                                              <%  i++; }) %>
                                              <% } else{ %>
                                                  <tr>
                                                      <td colspan="4"><div align="center">No Data Found</div></td>
                                                  </tr>
                                              <% } %>
                                            </tbody>
                                            <tfoot>
                                                <tr class="table-primary">
                                                    <td style="font-size: 14px;"><strong>รูป</strong></td>
                                                    <td style="font-size: 14px;"><strong>ชื่อสินค้า</strong></td>
                                                    <td style="text-align: center;font-size: 14px;"><strong>ราคา</strong></td>
                                                    <td style="text-align: center;font-size: 14px;"><strong>จำนวน</strong></td>
                                                </tr>
                                            </tfoot>
                                          </table>
                                          

                                          
                                        <!-- <table class="table my-0" id="dataTable">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th style="font-size: 14px;">รูป</th>
                                                    <th style="font-size: 14px;">ชื่อสินค้า</th>
                                                    <th class="text-center" style="font-size: 14px;">ราคา</th>
                                                    <th class="text-center" style="font-size: 14px;">จำนวน</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><img class="rounded-circle me-2" width="50" height="50" src="assets/img/avatars/1310141-min_36.jpg"></td>
                                                    <td style="font-size: 14px;">ก๊อตช่า ดินสอ</td>
                                                    <td class="text-center" style="font-size: 14px;">10</td>
                                                    <td class="text-center"><button class="btn btn-primary btn-sm" type="submit" style="margin-right: 10px;margin-bottom: 5px;margin-left: 5px;">Add Cart&nbsp;&nbsp;<i class="fa fa-cart-plus"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td><img class="rounded-circle me-2" width="50" height="50" src="assets/img/avatars/6623D06-4384A60-C5085C0.png"></td>
                                                    <td style="font-size: 14px;">ก๊อตช่า สตอเบอรี่</td>
                                                    <td class="text-center" style="font-size: 14px;">15</td>
                                                    <td class="text-center"><button class="btn btn-primary btn-sm" type="submit" style="margin-right: 10px;margin-bottom: 5px;margin-left: 5px;">Add Cart&nbsp;&nbsp;<i class="fa fa-cart-plus"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td><img class="rounded-circle me-2" width="50" height="50" src="assets/img/avatars/menueditor_item_77c85a175870489a99b9915e6251f367_1630686696268184651.jpg"></td>
                                                    <td style="font-size: 14px;">สวัสดีถั่วดำ</td>
                                                    <td class="text-center" style="font-size: 14px;">12</td>
                                                    <td class="text-center"><button class="btn btn-primary btn-sm" type="submit" style="margin-right: 10px;margin-bottom: 5px;margin-left: 5px;">Add Cart&nbsp;&nbsp;<i class="fa fa-cart-plus"></i></button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr class="table-primary">
                                                    <td style="font-size: 14px;"><strong>รูป</strong></td>
                                                    <td style="font-size: 14px;"><strong>ชื่อสินค้า</strong></td>
                                                    <td style="text-align: center;font-size: 14px;"><strong>ราคา</strong></td>
                                                    <td style="text-align: center;font-size: 14px;"><strong>จำนวน</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table> -->

                                    </div>
                          
   

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <footer class="text-center bg-white d-inline-flex mb-auto sticky-footer" style="margin: 1px;">
        <div class="container text-center my-auto">
            <div class="text-center my-auto copyright"><span class="text-center">Copyright © Brand 2022</span></div>
        </div>
    </footer>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="../../assets/js/DataTable---Fully-BSS-Editable.js"></script>
    <script src="../../assets/js/theme.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
      $(document).ready(function() {
        $('#dtData').DataTable();
      } );

      $(document).ready(function() {
        $('#dataTable').DataTable();
      } );
    </script>


</body>

</html>